header{
    position: fixed;
    display: inline;
    float: none;
    height: 200px;
    width: 100%;
    
}
header nav{
   display:left; 
   float: right;
   margin-top: 30px;
}
nav ul li{
    display: inline;
    margin-top:0 ;
    font-weight: bold;

}
header img{
    display:left ;
    margin-left: 10%;
    float: left;
    height: 200px;
    width: 200px;
}
nav ul{
    margin-right: 250px ;
}
li {
    padding: 10px;
}
section{
    margin-top: 250px;
    margin-left: 200px;
    margin-right:230px;
    padding: 30px ;
    background-color: rgb(216, 233, 252);
    height: 50px;
}

section ul li{
    display: inline-block;
    width: 175px;
    color: rgb(3,55,97);



}
section ul li p{
    border: solid;
    border-radius: 90%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    float: left;
    margin-top: -10px;
    

}
hr{
    color: rgb(240, 67, 14);
    width: 600px;
}
h1{
    color: rgb(3,55,97);

}
#un{
    color: rgb(216, 233, 252);
    background-color: rgb(3,55,97);
}
#Q1{
    color: rgb(3,55,97);
    font-weight: bold;
}
table{
    background-color: rgb(255,135,66);
    margin-left: 200px;
    margin-right:230px;
    padding: 30px ;
    height: 70px;
    width: 1380px;
    border-radius: 15px;

}
tr td{
    font-size: 20px;
    color: white;

}
input[type="radio"]{
    width: 30px;
    height: 30px;

}
.eve{
    display: inline-block;
float: right;
margin-right: 240px;
margin-top: 50px;
}
input[type="submit"]{
    background-color: rgb(3,55,97);
    padding: 9px;
    color: #FFFFFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid;

    

    
}
button{
    
    background-color: rgb(3,55,97);
    padding: 9px;
    color: #FFFFFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid;





}


